In [154]:
import pandas as pd
from datetime import datetime
import re

In [155]:
def parse_logs(logs):
    parsed_data = []
    base_time = None
    
    for log in logs:
        # Pular logs que não contêm métricas (apenas linhas com "RT=")
        if "RT=" not in log:                
            continue
            
        # Extrair timestamp
        timestamp_str = log.split(' - INFO - ')[0].split('| ')[1].strip()
        
        # Converter para datetime object
        current_time = datetime.strptime(timestamp_str, "%Y-%m-%d %H:%M:%S,%f")
        
        # Definir base_time como o primeiro timestamp encontrado
        if base_time is None:
            base_time = current_time
        
        # Calcular tempo relativo em segundos
        time_delta = current_time - base_time
        relative_time = time_delta.total_seconds()
        
        # Dividir a linha usando o padrão de separadores
        parts = log.split(' - INFO - ')[1].split(' | ')
        
        data = {'time_relative': relative_time}
        
        for part in parts:
            # Response Time
            if part.startswith('RT='):
                data['response_time'] = float(part.replace('RT=', '').replace('s', '').strip())
            
            # Active Servers
            elif part.startswith('Active servers='):
                data['active_servers'] = int(part.split('=')[1])
            
            # Dimmer
            elif part.startswith('Dimmer='):
                data['dimmer'] = float(part.split('=')[1])
            
            # Arrival Rate
            elif part.startswith('arrival='):
                data['arrival_rate'] = float(part.split('=')[1].split(' ')[0])
            
            # Total Servers
            elif part.startswith('Total servers='):
                data['total_servers'] = int(part.split('=')[1])
            
            # Diagnosis
            elif part.startswith('Diagnosis: '):
                data['diagnosis'] = part.split('Diagnosis: ')[1]
            
            # Action Plan (tratamento especial para JSON)
            elif part.startswith('Action plan: '):
                action_str = part.split('Action plan: ')[1]
                # Encontrar o início e fim do JSON
                start_idx = action_str.find('{')
                end_idx = action_str.rfind('}') + 1
                if start_idx != -1 and end_idx != 0:
                    data['action_plan'] = action_str[start_idx:end_idx]
                else:
                    data['action_plan'] = action_str
            
            # Result
            elif part.startswith('Result: '):
                data['result'] = part.split('Result: ')[1]
        
        parsed_data.append(data)
    
    return pd.DataFrame(parsed_data)

In [156]:
def parse_diagnosis(logs):
    diagnosis = []
    inside_json = False
    json_lines = []

    for log in logs:
        if "Diagnosis:" in log:
            # Caso 1: diagnóstico simples
            if "{" not in log:
                diag = log.split("Diagnosis: ")[1].strip()
                diagnosis.append({"raw": diag})
            # Caso 2: início de JSON
            else:
                inside_json = True
                json_lines = [log.split("Diagnosis: ")[1]]
        elif inside_json:
            json_lines.append(log)
            # Detecta o final do JSON
            if "}" in log:
                inside_json = False
                json_str = "\n".join(json_lines)
                try:
                    # Remove prefixos como "manager |" antes de tentar o parse
                    cleaned = "\n".join([
                        line.split("Diagnosis: ")[-1].split("|")[-1].strip()
                        for line in json_lines
                    ])
                    diag_json = json.loads(cleaned)
                    diagnosis.append(diag_json)
                except Exception as e:
                    diagnosis.append({"raw": cleaned, "error": str(e)})

    diag_final = []

    for item in diagnosis:
        diag_final.append(str(item))

    return pd.DataFrame(diag_final)

In [157]:
def parse_plans(logs):
    plans = []
    for log in logs:
        if "Action plan:" not in log:
            continue
        p = log.split('Action plan: ')[1]
        plans.append(p)

    return pd.DataFrame(plans)

In [158]:
def call_humans(df):
    result_df = df.copy()
    
    mask = (
        result_df['diagnosis'].str.contains('call_human', na=False) & 
        result_df['plans'].str.contains("danger", na=False)
    )
    result_df['human_calls'] = mask
    
    return result_df

In [159]:
records = []

file_path = "0-judge-3.txt"
with open(file_path, "r") as f:
    for line in f:
        if "manager" in line:
            records.append(line)
j0 = parse_logs(records)
j0

,time_relative,response_time,active_servers,dimmer,arrival_rate,total_servers
0,0.000,0.02,3,0.9,47.60,3
1,26.028,3.28,2,0.9,49.05,2
2,56.064,5.57,3,0.9,49.94,3
3,85.651,6.52,3,0.9,50.26,3
4,115.807,6.33,4,0.9,55.13,4
5,145.697,6.29,5,1.0,59.20,5
6,176.825,6.29,5,1.0,57.75,5
7,206.860,6.29,6,1.0,56.41,6
8,235.705,6.29,5,1.0,55.54,5
9,265.741,6.29,6,1.0,92.43,6
10,295.773,6.29,6,1.0,105.23,6
11,326.128,6.29,6,1.0,107.49,6
12,356.168,6.29,7,1.0,106.25,7
13,385.368,6.29,7,1.0,102.07,7
14,415.891,6.29,7,1.0,98.19,7
15,445.993,6.29,7,1.0,94.93,7
16,476.027,6.29,7,1.0,95.63,7
17,505.395,6.29,7,1.0,97.18,7
18,535.429,6.29,7,1.0,94.57,7
19,566.788,6.29,7,1.0,92.24,7
20,596.823,6.29,7,1.0,90.07,7

In [160]:
records = []

file_path = "1-judge-3.txt"
with open(file_path, "r") as f:
    for line in f:
        if "manager" in line:
            records.append(line)
j1 = parse_logs(records)
j1

,time_relative,response_time,active_servers,dimmer,arrival_rate,total_servers
0,0.000,0.02,3,0.9,44.59,3
1,26.028,3.31,2,0.9,49.30,2
2,56.061,5.60,3,0.9,49.99,3
3,66.978,5.99,3,0.9,50.01,3
4,80.083,6.41,3,0.9,49.93,3
5,88.487,6.55,3,0.9,50.27,3
6,97.602,6.88,4,0.9,50.51,4
7,115.873,6.59,5,0.9,55.29,5
8,145.288,6.28,6,0.9,59.22,6
9,153.812,5.98,6,0.9,58.65,6
10,175.677,5.33,7,0.9,57.84,7
11,205.398,4.81,8,0.9,56.46,8
12,235.519,4.26,7,0.9,55.54,7
13,249.657,3.86,7,0.9,70.16,7
14,265.676,4.63,8,0.9,92.72,8
15,295.712,5.65,9,0.9,105.25,9
16,325.817,5.00,10,0.9,107.49,10
17,355.559,4.56,11,0.9,106.30,11
18,385.264,4.35,12,0.9,102.03,12
19,416.037,4.16,13,0.9,98.14,13
20,446.277,3.97,14,0.9,94.90,14
21,476.314,3.64,15,0.9,95.69,15
22,506.352,3.32,16,0.9,97.07,16
23,536.391,3.20,17,0.9,94.45,17
24,566.485,3.08,18,0.9,92.24,18
25,596.521,2.97,19,0.9,90.06,19

In [161]:
records = []

file_path = "2-judge-3.txt"
with open(file_path, "r") as f:
    for line in f:
        if "manager" in line:
            records.append(line)
j2 = parse_logs(records)
j2

,time_relative,response_time,active_servers,dimmer,arrival_rate,total_servers
0,0.000,0.02,3,0.9,42.60,3
1,26.024,3.30,2,0.9,48.92,2
2,56.057,5.20,3,0.9,49.87,3
3,85.203,5.90,4,0.9,50.14,4
4,116.016,4.66,5,0.9,54.98,5
5,146.963,3.94,6,0.9,59.18,6
6,176.997,3.34,7,0.9,57.78,7
7,205.028,3.05,8,0.9,56.52,8
8,235.067,2.70,7,0.9,55.56,7
9,265.102,3.39,8,0.9,91.07,8
10,295.139,4.76,9,0.9,105.24,9
11,325.004,4.31,10,0.9,107.49,10
12,356.898,3.88,11,0.9,106.23,11
13,386.938,3.71,12,0.9,101.94,12
14,416.975,3.55,13,0.9,98.14,13
15,445.011,3.40,14,0.9,95.14,14
16,475.048,3.14,15,0.9,95.54,15
17,505.084,2.85,16,0.9,97.27,16
18,535.124,2.74,17,0.9,94.64,17
19,565.161,2.65,18,0.9,92.36,18
20,595.198,2.56,19,0.9,90.25,19

In [162]:
records = []

file_path = "3-judge-3.txt"
with open(file_path, "r") as f:
    for line in f:
        if "manager" in line:
            records.append(line)
j3 = parse_logs(records)
j3

,time_relative,response_time,active_servers,dimmer,arrival_rate,total_servers
0,0.000,0.02,3,0.9,42.77,3
1,26.030,3.31,2,0.9,48.95,2
2,56.067,5.54,3,0.9,49.85,3
3,86.249,6.00,4,0.9,50.26,4
4,115.936,4.23,5,0.9,54.97,5
5,155.085,3.60,5,0.9,58.64,5
6,155.091,3.60,6,0.9,58.64,6
7,175.115,3.23,7,0.9,57.89,7
8,205.150,2.91,8,0.9,56.51,8
9,235.186,2.58,7,0.9,55.55,7
10,265.223,3.33,8,0.9,91.22,8
11,295.255,4.74,9,0.9,105.25,9
12,326.662,4.25,10,0.9,107.48,10
13,349.646,3.93,10,0.9,107.06,10
14,355.658,3.86,11,0.9,106.42,11
15,385.691,3.69,12,0.9,102.12,12
16,415.727,3.54,13,0.9,98.27,13
17,445.766,3.37,14,0.9,95.04,14
18,475.802,3.11,15,0.9,95.59,15
19,505.837,2.83,16,0.9,97.20,16
20,535.873,2.72,17,0.9,94.59,17
21,565.909,2.63,18,0.9,92.32,18
22,595.948,2.54,19,0.9,90.18,19

In [163]:
records = []

file_path = "4-judge-3.txt"
with open(file_path, "r") as f:
    for line in f:
        if "manager" in line:
            records.append(line)
j4 = parse_logs(records)
j4

,time_relative,response_time,active_servers,dimmer,arrival_rate,total_servers
0,0.000,0.02,3,0.9,42.72,3
1,26.027,3.31,2,0.9,48.95,2
2,56.061,5.54,3,0.9,49.85,3
3,86.391,6.51,4,0.9,50.33,4
4,115.899,5.64,5,0.9,54.98,5
5,146.281,5.03,6,0.9,59.21,6
6,176.681,4.26,7,0.9,57.83,7
7,206.283,3.86,6,0.9,56.46,6
8,236.321,3.42,7,0.9,55.54,7
9,266.355,4.00,8,0.9,92.43,8
10,296.392,5.17,9,0.9,105.23,9
11,326.149,4.65,10,0.9,107.50,10
12,356.243,4.20,11,0.9,106.32,11
13,386.865,4.01,12,0.9,101.95,12
14,413.800,3.86,12,0.9,98.50,12
15,415.808,3.85,13,0.9,98.25,13
16,445.843,3.67,14,0.9,95.04,14
17,475.879,3.38,15,0.9,95.58,15
18,505.915,3.08,16,0.9,97.19,16
19,535.956,2.96,17,0.9,94.57,17
20,565.993,2.85,18,0.9,92.32,18
21,596.029,2.76,19,0.9,90.17,19

In [164]:
records = []

file_path = "5-judge-3.txt"
with open(file_path, "r") as f:
    for line in f:
        if "manager" in line:
            records.append(line)
j5 = parse_logs(records)
j5

,time_relative,response_time,active_servers,dimmer,arrival_rate,total_servers
0,0.000,0.02,3,0.9,43.24,3
1,26.026,3.31,2,0.9,48.95,2
2,56.061,5.54,3,0.9,49.85,3
3,86.532,6.55,4,0.9,50.34,4
4,115.331,5.45,5,0.9,54.76,5
5,145.955,4.85,6,0.9,59.22,6
6,176.887,4.10,6,0.9,57.79,6
7,206.546,3.71,5,0.9,56.47,5
8,236.583,3.29,6,0.9,55.53,6
9,266.620,3.93,7,0.9,92.74,7
10,296.653,5.10,8,0.9,105.25,8
11,327.012,4.72,9,0.9,107.47,9
12,356.275,4.43,10,0.9,106.32,10
13,385.458,4.21,11,0.9,102.15,11
14,416.316,4.02,12,0.9,98.21,12
15,446.278,3.84,13,0.9,94.98,13
16,476.316,3.53,14,0.9,95.61,14
17,506.356,3.21,15,0.9,97.16,15
18,536.396,3.08,16,0.9,94.54,16
19,566.436,2.98,17,0.9,92.28,17
20,596.478,2.88,18,0.9,90.14,18

In [165]:
records = []

file_path = "baseline-3.txt"
with open(file_path, "r") as f:
    for line in f:
        if "manager" in line:
            records.append(line)
b = parse_logs(records)
b

,time_relative,response_time,active_servers,dimmer,arrival_rate,total_servers
0,0.000,0.03,3,0.9,49.73,3
1,26.028,3.56,2,0.9,50.08,2
2,56.063,5.91,3,0.9,50.70,3
3,86.096,6.93,3,0.9,50.72,3
4,116.130,7.65,3,0.9,54.71,3
5,146.163,8.29,3,0.9,59.05,3
6,176.196,7.93,3,0.9,57.42,3
7,206.230,6.86,3,0.9,56.84,3
8,236.263,6.12,2,0.9,55.99,2
9,266.294,6.22,2,0.9,95.16,2
10,296.327,6.64,2,0.9,105.64,2
11,326.359,7.04,2,0.9,107.94,2
12,356.392,7.35,2,0.9,106.46,2
13,386.424,7.51,2,0.9,102.03,2
14,416.460,7.42,2,0.9,98.26,2
15,446.493,6.96,2,0.9,95.00,2
16,476.527,6.71,2,0.9,95.92,2
17,506.561,6.92,2,0.9,97.21,2
18,536.595,7.01,2,0.9,94.50,2
19,566.625,6.79,2,0.9,92.19,2
20,596.658,6.52,2,0.9,90.08,2

In [166]:
new_df = pd.DataFrame([{
    'metric': 'mean_rt',
    'baseline':b['response_time'].mean(),
    'j0': j0['response_time'].mean(),
    'j1': j1['response_time'].mean(),
    'j2': j2['response_time'].mean(),
    'j3': j3['response_time'].mean(),
    'j4': j4['response_time'].mean(),
    'j5': j5['response_time'].mean(),
}, {
    'metric': 'mean_active_servers', 
    'baseline': b['active_servers'].mean(),
    'j0': j0['active_servers'].mean(),
    'j1': j1['active_servers'].mean(),
    'j2': j2['active_servers'].mean(),
    'j3': j3['active_servers'].mean(),
    'j4': j4['active_servers'].mean(),
    'j5': j5['active_servers'].mean(),
}, {
    'metric': 'mean_dimmer',
    'baseline': b['dimmer'].mean(),
    'j0': j0['dimmer'].mean(),
    'j1': j1['dimmer'].mean(),
    'j2': j2['dimmer'].mean(),
    'j3': j3['dimmer'].mean(),
    'j4': j4['dimmer'].mean(),
    'j5': j5['dimmer'].mean(),
}, {
    'metric':'max_rt',
    'baseline': b['response_time'].max(),
    'j0': j0['response_time'].max(),
    'j1': j1['response_time'].max(),
    'j2': j2['response_time'].max(),
    'j3': j3['response_time'].max(),
    'j4': j4['response_time'].max(),
    'j5': j5['response_time'].max(),
}, {
    'metric':'min_rt',
    'baseline': b['response_time'].min(),
    'j0': j0['response_time'].min(),
    'j1': j1['response_time'].min(),
    'j2': j2['response_time'].min(),
    'j3': j3['response_time'].min(),
    'j4': j4['response_time'].min(),
    'j5': j5['response_time'].min(),

}

])

new_df_transposed = new_df.set_index('metric').T

new_df_transposed.index.name = 'system'

new_df_transposed

metric     mean_rt  mean_active_servers  mean_dimmer  max_rt  min_rt
system
baseline  6.493810             2.333333      0.90000    8.29    0.03
j0        5.826667             5.571429      0.97619    6.52    0.02
j1        4.630769             8.807692      0.90000    6.88    0.02
j2        3.478571             9.857143      0.90000    5.90    0.02
j3        3.459130             9.652174      0.90000    6.00    0.02
j4        3.910455             9.863636      0.90000    6.51    0.02
j5        3.940476             9.047619      0.90000    6.55    0.02

In [167]:
new_df_transposed.to_csv('results3.csv')